{% extends 'profile.html.twig' %}

{% block title %}{{associate.fullname}}{% endblock %}

{% block main %}
    <h1>Bewerk deelnemer {{associate.fullname}}</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <ul class="list-inline mt-4">
      <li class="list-inline-item"><a href="{{ path('profile_index') }}"><i class="bi bi-chevron-double-left"></i> terug naar het overzicht</a></li>
    </ul>

{% endblock %}
