{% extends 'profile.html.twig' %}

{% block main %}

  <h1 class="text-primary"><i class="bi bi-calendar-week"></i> Kalender</h1>

  <div class="my-3 my-lg-4 d-flex justify-content-between text-secondary">
    <div><i class="bi bi-info-square-fill"></i> Klik op een event voor meer informatie.</div>
    <div>
      <a href="javascript:;" class="badge rounded-1 text-bg-secondary text-decoration-none" id="toggle-past-events">
        <i class="bi bi-eye-slash-fill"></i> voorbije events
      </a>
    </div>
  </div>

  <div class="p-3 mb-4 bg-white shadow-sm">
    <div data-provider="period-events" data-spinner="true" data-success="$('.past').hide();"></div>
  </div>

{% endblock %}

{% block side %}
  {{ parent() }}
  {% include 'event/ical.html.twig' %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('vzw-lach-event') }}
{% endblock %}
