<h5 class="mt-5 pt-md-3 text-secondary">Kalender</h5>

<div data-provider="upcoming-events" data-spinner="true" data-tag="{{ (tag is defined) ? tag : ''}}"></div>

<div class="mt-2 text-end">
  <a href="{{path('profile_events')}}" class="small fw-lighter text-secondary text-decoration-none">
    <i class="bi bi-chevron-double-right"></i> naar de volledige kalender
  </a>
</div>
