{% apply inline_css(source('@assets/email.css')) %}
    <h1>Aanmelden bij HGCVHKV</h1>
    <p class="lead">Klik op de onderstaande link om te bevestigen dat u zich wilt aanmelden. Deze link verloopt over 5 minuten.</p>
    <p class="lead text-center"><a href="{{ action_url }}" class="btn lead">aanmelden</a></p>
    <p>&nbsp;</p>
    <small>
      <p>---</p>
      <p><i>Dit is een automatisch bericht van <a href="{https://leden-vzw-lach.be}">leden-vzw-lach.be</a></i></p>
    </small>
{% endapply %}
