{% extends 'base.html.twig' %}

{% block body %}
    <main class="w-100 m-auto text-center">
      <img class="img-fluid mb-md-3" src="{{ asset('assets/img/logo/hgcvhkv_klein.jpg') }}" alt="" style="max-height: 300px;">
      {#<h1 class="display-2"></h1>#}
      <div class="h4 fw-lighter">Een muziektheaterproductie van <a href="https://vzw-lach.be">vzw LA:CH</a></div>
      <div class="h5 mt-3 fw-lighter">Meld je aan en blijf op de hoogte.</div>
      <div class="my-4">
        <a href="{{ path('security_signout') }}" class="btn btn-lg btn-primary">
          <i class="bi bi-check-lg"></i> inloggen
        </a>
      </div>
      <div class="fw-lighter mt-4"><a href="{{ path('enrol_index') }}" class="text-muted">Klik hier</a> om je in te schrijven</div>
    </main>
{% endblock %}

{% block footer %}
  {% include 'modules/footer.html.twig' %}
{% endblock %}
