/*
 *
 * email.css
 *
 */

--bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--bs-body-font-family: var(--bs-font-sans-serif);
--bs-body-font-size: 1rem;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.5;
--bs-body-color: #212529;
--bs-secondary-color: rgba(33, 37, 41, 0.75);

html,
body {
  height: 100%;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h5 {
  font-weight: 500;
  line-height: 1.2;
  color: rgb(176, 24, 36);
}

a {
  color: rgb(176, 24, 36);
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.small, small {
  font-size: .875em;
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color)!important;
}
