/*
 *
 * vzw-lach.scss
 *
 */

html,
body {
  height: 100%;
}

.bg {
  background-image: url("/public_html/assets/img/bg.jpg");
  background-repeat: repeat;
}

.cover-container {
  max-width: 42em;
}

.nav-masthead .nav-link {
  color: rgba(149, 20, 31, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover {
  cursor: default;
}

.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(149, 20, 31, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgba(149, 20, 31, 1);
  border-bottom-color: rgba(149, 20, 31, 1);
}

footer {
  font-size: .75em;
}

#toTop {
  text-decoration: none;
  position: fixed;
  bottom: 1.85rem;
  right: 0.85rem;
  overflow: hidden;
  border: none;
  z-index: 100;
  width: 44px;
  height: 44px;
}

th .btn-sm {
  padding: 0;
  text-align: left;
  font-weight: bold;
  line-height: 1.4;
  color: inherit;
  font-size: unset;
}

th .btn-link:hover {
  text-decoration: none;
  color: inherit;
}

/*
 * Calendar
*/
.cal-cancelled {
  text-decoration: line-through;
}

.cal-link {
  cursor: pointer;
  &:hover {
    background-color: #f8f9fa;
  }

}
 
.badge.cal {
  width: 48px;
  height: 48px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 1.65rem;
  text-align: center;
  padding: .5rem;

  &.cal-md {
    width: 48px;
    height: 48px;
    font-weight: 300;
    line-height: .8;
    font-size: 1.5rem;
    text-align: center;
    padding: .3rem;
  }

  &.cal-sm {
    width: 28px;
    height: 28px;
    font-size: .85rem;
    padding: .2rem;
    line-height: .85;
    margin-top: .15rem;
  }
}

ul.cal-small i {
  width: 1.25rem;
}

ul.cal-smaller i {
  width: 1.5rem;
}

$cals: (1: #ed1c24, 2: #d4af37, 3: #6c757d, 4: #343a40, 5: #ffc107);

@each $cal, $color in $cals {
  .badge.cal-#{$cal} {
    background-color: $color;
  }
  a.badge.cal-#{$cal}:hover {
    background-color: darken($color, 15%);
  }
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.scroll-fade-in {
  opacity:0;
}
