/*
 *
 * vzw-lach.scss
 *
 */

html,
body {
  height: 100%;
}

.bg {
  background-image: url("/public_html/assets/img/bg.jpg");
  background-repeat: repeat;
}

.cover-container {
  max-width: 42em;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

.nav-link {
  color: rgba(255, 255, 255, .65);
}

.nav-link.active {
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.nav-masthead .nav-link {
  color: rgba(149, 20, 31, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover {
  cursor: default;
}

.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(149, 20, 31, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgba(149, 20, 31, 1);
  border-bottom-color: rgba(149, 20, 31, 1);
}

.navbar .nav-link:not(.active):hover {
  transform: rotate(0deg) scale(1.1);
}

.navbar .nav-link {
  transition: .2s ease-in-out transform;
}

footer {
  font-size: .75em;
  font-weight: lighter !important;
}

.breadcrumb {
  font-size: .85em;
  font-weight: lighter !important;
}

#toTop {
  text-decoration: none;
  position: fixed;
  bottom: 1.85rem;
  right: 0.85rem;
  overflow: hidden;
  border: none;
  z-index: 100;
  width: 44px;
  height: 44px;
}

th .btn-sm {
  padding: 0;
  text-align: left;
  font-weight: bold;
  line-height: 1.4;
  color: inherit;
  font-size: unset;
}

th .btn-link:hover {
  text-decoration: none;
  color: inherit;
}

/*
 * Vich Image
*/
.vich-image > a > img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

/*
 * Events
*/
.event.media, .document.media, .advert.media {
  display: flex;
  width: 100%;
}

.event-cancelled {
  text-decoration: line-through;
}

.event-link, .advert-link, .document-link {
  cursor: pointer;
  background-color: #fff;
  &:hover {
    background-color: #f8f9fa;
  }

}
 
.badge.event {
  width: 48px;
  height: 48px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 1.65rem;
  text-align: center;
  padding: .5rem;

  &.event-md {
    width: 48px!important;
    height: 48px!important;
    font-weight: 300;
    line-height: .85;
    font-size: 1.35rem;
    text-align: center;
    padding: .3rem;
  }

  &.event-sm {
    width: 32px;
    height: 32px;
    font-size: .85rem;
    font-weight: 300;
    padding: .2rem;
    line-height: .85;
    margin-top: .10rem;
  }
}

ul.event-small i {
  width: 1.25rem;
}

ul.event-smaller i {
  width: 1.5rem;
}

legend.col-form-label {
  font-size: x-large;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.scroll-fade-in {
  opacity:0;
}
