<footer class="text-primary small d-print-none border-top mt-5">
  <nav class="nav nav-underline">
    <span class="nav-link py-1 font-weight-light" href="javascript:;">{{ org.name }} <i class="fal fa-copyright"></i> {{ "now"|date("Y") }}</span>
    <a class="nav-link py-1 ml-auto" href="https://www.steps4it.be" style="color: rgba(0,0,0,.5);"><i class="fas fa-code"></i> STEPS4it</a>
  </nav>
</footer>
