<footer class="text-muted fw-lighter d-print-none mt-auto mb-0 text-center">
  <ul class="list-inline pt-4 mb-2 pb-0">
    <li class="list-inline-item"><i class="bi bi-c-circle"></i> {{ "now"|date("Y") }} <a href="https://vzw-lach.be" class="text-decoration-none text-muted">vzw LA:CH</a></li>
    <li class="list-inline-item"><i class="bi bi-file-earmark-check"></i> <a href="/voorwaarden" class="text-decoration-none text-muted">Voorwaarden</a></li>
    <li class="list-inline-item"><i class="bi bi-file-earmark-lock"></i> <a href="/privacy" class="text-decoration-none text-muted">Privacy</a></li>
    <li class="list-inline-item"><i class="bi bi-code-slash"></i> <a href="https://steps4it.be" class="text-decoration-none text-muted">STEPS4it</a></li>
  </ul>
</footer>
