<div>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#" onclick="return false;">stap 1</a>
        <a class="nav-link fw-bold py-1 px-0" href="#" onclick="return false;">stap2</a>
        <a class="nav-link fw-bold py-1 px-0" href="#" onclick="return false;">stap3</a>
        <a class="nav-link fw-bold py-1 px-0" href="#" onclick="return false;">stap4</a>
        <a class="nav-link fw-bold py-1 px-0" href="#" onclick="return false;">stap5</a>
    </nav>
</div>
