{% extends 'profile.html.twig' %}

{% block main %}

  <h1 class="text-secondary">Berichten</h1>

  {% if posts|length  == 0 %}

    <div class="p-3 mb-4 bg-white shadow-sm">
      <p class="my-2"><i class="bi bi-exclamation-circle-fill"></i> Geen berichten gevonden.</p>
    </div>

  {% else %}
 
    {% for post in posts %}
      {% include 'post/template.html.twig' with {'item': post } %}
    {% endfor %}

    {% if pages > 1 %}
      {% include 'modules/pagination.html.twig' %}
    {% endif %}

  {% endif %}

{% endblock %}
