{% extends 'profile.html.twig' %}

{% block main %}

    <h1 class="text-secondary">Berichten</h1> 

    {% include 'post/template.html.twig' with {'item': post, 'islast': true } %}

    <ul class="list-inline mt-2">
      <li class="list-inline-item">
        <a href="{{ path('profile_posts') }}" class="fw-lighter text-secondary text-decoration-none"><i class="bi bi-chevron-double-left"></i> terug naar het overzicht</a>
      </li>
    </ul>

{% endblock %}
