<div class="p-3 mb-4 shadow-sm document-link"
     onclick="window.open('{{ path('profile_folder', {'slug': folder.slug}) }}', '_self');">

  <h4 class="text-primary d-flex justify-content-between my-2">
    <span><i class="bi bi-folder-fill"></i> {{ folder.name|capitalize }}</span>
  </h4>

  {% if folder.description %}<p>{{folder.description}}<p>{% endif %}

</div>
