<h5 class="mt-5 text-secondary">Documenten</h5>

<div data-provider="documents" data-spinner="true" data-tag="{{ (tag is defined) ? tag : ''}}"></div>

<div class="mt-2 text-end">
  <a href="{{path('profile_documents')}}" class="small fw-lighter text-secondary text-decoration-none">
    <i class="bi bi-chevron-double-right"></i> naar alle documenten
  </a>
</div>
