<h5 class="mt-5 text-secondary">Zoekertjes</h5>

<div data-provider="adverts" data-spinner="true"></div>

<div class="mt-2 text-end">
  <a href="{{path('profile_adverts')}}" class="small fw-lighter text-secondary text-decoration-none">
    <i class="bi bi-chevron-double-right"></i> naar alle zoekertjes
  </a>
</div>
