{% extends 'base.html.twig' %}

{% block title %}stap 3{% endblock %}

{% block body %}
    <h1>STAP <i class="bi bi-3-square"></i> - Gegevens</h1>

    {{ include('enrol/_form.html.twig') }}

{% endblock %}
