{% extends 'base.html.twig' %}

{% block title %}stap 4{% endblock %}

{% block body %}
    <h1>STAP <i class="bi bi-4-square"></i> - Voorwaarden</h1>

    {{ include('enrol/_form.html.twig') }}

{% endblock %}
