{% extends 'base.html.twig' %}

{% block title %}Inschrijven{% endblock %}

{% block main %}
    <main class="m-auto text-center">
      <img class="img-fluid" src="{{ asset('assets/img/logo/hgcvhkv_klein.jpg') }}" alt="" style="max-height: 300px;">
      <h1 class="display-2">Inschrijven</h1>
      <p class="lead">Welkom op de aanmeldingspagina van “Het Groot Circus van het Klein Verdriet”, de nieuwe muziektheaterproductie van <a href="https://vzw-lach.be" target="_Blank">vzw LA:CH</a>.</p>
<p>De rollen zijn verdeeld. Je kan je wel nog inschrijven om mee te werken aan het decor- en kostuumatelier of medewerker achter de schermen. Mannelijke figuranten kunnen zich nog aanmelden, vrouwen en meisjes kunnen we helaas geen rol meer aanbieden.</p>
<p>Je kan hier jezelf en je familieleden inschrijven om mee te spelen of mee te werken aan de productie. In de volgende 5 stappen vragen we enkele gegevens om je inschrijving te vervolledigen. Je kan meerdere personen inschrijven op één e-mailadres, dat is handig als er bijvoorbeeld meerdere kinderen van een gezin willen deelnemen. Je kan uiteraard ook iedereen apart inschrijven met een eigen e-mailadres.</p>
      <p><a href="{{ path('enrol_user') }}" class="btn btn-primary"><i class="bi bi-check-lg"></i> inschrijven</a><p>
    </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if enrolled %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script>
// do this for 15 seconds
var duration = 15 * 1000;
var end = Date.now() + duration;

(function frame() {
  // launch a few confetti from the left edge
  confetti({
    particleCount: 7,
    angle: 60,
    spread: 55,
    origin: { x: 0 }
  });
  // and launch a few from the right edge
  confetti({
    particleCount: 7,
    angle: 120,
    spread: 55,
    origin: { x: 1 }
  });

  // keep going until we are out of time
  if (Date.now() < end) {
    requestAnimationFrame(frame);
  }
}());
</script>
  {% endif %}
{% endblock %}
