{% extends 'base.html.twig' %}

{% block title %}Inschrijven{% endblock %}

{% block main %}
    <main class="col col-md-6 align-self-center m-auto text-md-center">
      <img class="img-fluid" src="{{ asset('assets/img/logo/hgcvhkv_klein.jpg') }}" alt="" style="max-height: 350px;">
      <h1 class="display-2">Inschrijven</h1>
      <p>Welkom op de aanmeldingspagina van “Het Groot Circus van het Klein Verdriet”, 
de nieuwe muziektheaterproductie van <a href="https://vzw-lach.be">vzw LA:CH</a>. 
Je kan hier jezelf en je familieleden inschrijven om mee te spelen of mee te werken aan de productie. </p>
      <p>In de volgende 5 stappen vragen we enkele gegevens om je inschrijving te vervolledigen. Uiteraard worden uw gegevens enkel intern gebruikt. De GDPR-wetgeving is van toepassing.</p>
      <p>Je kan meerdere personen inschrijven op één e-mailadres, dat is handig als er bijvoorbeeld meerdere kinderen van een gezin willen deelnemen. Je kan uiteraard ook iedereen apart inschrijven met een eigen e-mailadres.</p>
      <a href="{{ path('enrol_user') }}" class="btn btn-primary"><i class="bi bi-check-lg"></i> inschrijven</a>
    </main>
{% endblock %}
