{% extends 'base.html.twig' %}

{% block title %}Inschrijven{% endblock %}

{% block body %}
    <h1>Inschrijven</h1>
    <p>Jezelf of een familielid inschrijven</p>

    <a href="{{ path('app_enrol_user') }}" class="btn btn-primary">inschrijven</a>
{% endblock %}
